
:root {
    --color-bg: #282828;
    --color-fg: #ddc7a1;
    --color-link: #d8a657;
    --color-link-visited: #7daea3;
    --color-link-hover: #d3869b;
}

@font-face {
    font-family: "JetBrains";
    src: url("./JetBrains.ttf");
}

a:link {
  color: var(--color-link-hover);
}
a:visited {
  color: var(--color-link-visited);
}
a:hover {
  color: var(--color-link);
}
a:active {
  color: var(--color-link);
}

html, body {
    background: var(--color-bg);
    color: var(--color-fg);
    font-family: "JetBrains";
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.container {
    position: absolute;
    top:  50%;
    margin-top: -5%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 50px;
  /* padding-top: 60px; */
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  color: #5a524c;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}
